/*
|---------------------|
|      RESET CSS      |
|---------------------|
*/
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
@media screen and (min-width: 1200px){
    .container{
        width: 85%;
        margin: 0 auto;
    }
}
/*
|---------------------|
|      HEADER         |
|---------------------|
*/
header{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px;
}

header img{
    width: 190px;
    height: 70px;
}
header .grid{
    display: flex;
}
header .grid li a{
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    transition: all .3s ease-in-out;
    opacity: .9;
}
.grid li a:hover{
    opacity: 1;
}
header .grid li:not(header .grid li:last-child){
    margin-right: 20px;
}
@media screen and (max-width: 800px){
    header{
        flex-direction: column;
        left: 0;
        padding: 0;
    }
}
/*
|---------------------|
|      HERO           |
|---------------------|
*/
.hero{
    width: 100%;
    background-image: url('../img/Novo-posicionamento-da-marca.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.hero i{
    font-size: 4rem;
    color: #333333;
}

/*
|---------------------|
|      SERVIÇOS       |
|---------------------|
*/

.services{
    color: #333333;
    padding: 20px 0;
}
.services h1{
    text-align: center;
    font-size: 3rem;
    margin: 20px 0;
}
.services .items {
    display: flex;
    flex-wrap: wrap;
}
.services .items .item{
    flex-basis: 100%;
    display: flex;
    margin: 25px;
}
.item .text{
    display: flex;
    flex-direction: column;
    padding: 30px 0 30px 30px;
    height: 100%;
}
.item .text h3{
    font-size: 2rem;
    margin-bottom: 15px;
}
.item .text p{
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.item .text button{
    width: 150px;
    padding: 15px;
    border-radius: 4px;
    background-color: red;
    color: #fff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.item .text button:hover{
    background-color: #333333;
}
.item img{
    border-radius: 4px;
}

@media screen and (min-width: 900px){
    .content-02 img, .content-04 img{
        order: 2;
        transform: translateX(12px);
    }
}
@media screen and (max-width: 800px){
    .item{
        flex-direction: column;
    }
    .item .text button{
        margin: 0 auto;
    }
}
/*
|---------------------|
|      NEWSLETTER     |
|---------------------|
*/

.newsletter{
    background-color: #333333;
    width: 100%;
    padding: 35px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsletter h2{
    text-align: center;
    font-size: 2rem;
    margin: 30px 0;
    color: #fff;
}
.newsletter p{
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
}
.newsletter form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.newsletter input{
    padding: 20px;
    flex:1;
    margin-right: 25px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(255, 0, 0, 0.274);
}
.newsletter button{
    padding: 20px;
    border-radius: 4px;
    background-color: red;
    color: #fff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.newsletter button:hover{
    background-color: #fff;
    color: #333333;
}